@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
}
.container{
    position: relative;
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap:wrap ;

}
.container .card{
    position: relative;
    max-width: 450px;
    background-color: rgb(253, 249, 249);
    margin: 10px;
    padding: 15px;
    display: flex;
    
}
.container .card .imgBx{
   max-width: 150px;
   flex: 0 0 150px;
}
