<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/form.css">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
    </style>
    <title>online watch</title>
  </head>
  <body style="background-color: black;">

    <div class="center">
      <h2>
      <img src="/static/2F994c3t.png" alt=""> <span class="MID">
        Episode {{num}}
      </span></h2>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      {% for message in messages %}
        <h6 style="text-align: center; color: red;">{{message}}</h6>
      {% endfor %}

      {% endif %}
   {% endwith %}
      <form action="" method="POST">
        <div class="text_field">
          <input type="text" name="user" id=""  required autocomplete="off">
          <span></span>
          <label for="">Type epsode number</label>
        </div>
        <div class="pass">
          <a href="{{url_for('Information')}}" style=" text-decoration: none; color: rgb(179, 175, 175);">Information Page</a> </div>
          <input type="submit" value="Submit">
        <div class="signup_link">
        </div>
      </form>
    </div>

  </body>
</html>