<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700&family=Roboto+Slab&display=swap"
      rel="stylesheet"
    />
    <title>Updates</title>
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
      h3_ {
        margin-top: 50px;
        font-family: "Roboto Slab", serif;
      }
      .image img {
        width: 250px;
        border-radius: 20px;
      }
      .image h1 {
        text-align: center;
      }
      .headline h2 {
        color: rgb(96, 228, 184);
        font-family: "Merriweather", serif;
        font-weight: 100;
        text-decoration: underline;
        margin-left: 10px;
      }
      p {
        color: burlywood;
        font-family: 'Poppins', sans-serif;
        margin-left: 20px;
        margin-right: 10px;
      }

     img{
         border: 2px solid plum
     }
    </style>
  </head>
  <body style="background: linear-gradient(120deg,#000000,rgb(0, 0, 0));">
    {% extends "nav_home.html" %} {% block nav %}

    <div class="alert alert-success" role="alert">
    Welcome to Asteroid at  🔥 anime updates only on Monday
    </div>
    <hr>
    <div class="h3_" style="margin-top: 20px">
      <h5
        style="
          color: rgb(195, 199, 198);
          font-size: large;
          margin-left: 10px;
          text-align: center;
        "
      >
        <span
          style="border: 1px solid plum; padding: 5px 5px; border-radius: 5px"
          >Anime Update List
        </span>
      </h5>
      <hr style="color: blanchedalmond" />
    </div>

    {% for name in data %}


    <div class="image">
      <h1>
        <a href="/search_define/{{name['name']}}"><img
          src="{{name['image']}}"
          alt="html"
        /></a>
      </h1>
    </div>
    <div class="headline">
      <a style="text-decoration: none; " href="/search_define/{{name['name']}}"><h2> {{name['name'] | capitalize()}}</a></h2>
    </div>

    <div>
      <p class="">
        {{name['Description']}}
      </p>
    </div>
    <hr style="color: blanchedalmond" />


    {% endfor %}
    <h1 style="text-align: center">
      <a type="button" class="btn btn-danger" href="/Update">End</a>
    </h1>
    {% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
